
@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-webfont.woff2') format('woff2'),
         url('pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*{
    color: white;
    font-family: 'press_start_2pregular';
    
}


.a{
    text-decoration: none;
    color:white;
}
.button{
    background-color: black;
   
}

.buttonH{
    background-color: black;
    margin-left: 47%;
}

.navlink{
    color: white;
}

.nav{
    background-color: black !important;
    
}

.caro{
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.background{
    background-image: url('./keyboard.jpg');
    height: 800px;  
    background-position-y: 90%;
}

.background3{
    background-image: url('./starwars.jpg');
    height: 800px;  
    background-position-y: 100%;
    background-position-x: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.background4{
    background-image: url('./monster.jpg');
    height: 800px;  
    background-position-y: 100%;
    background-position-x: 85%;
    
    
}

.background5{
    background-image: url('./controlmario.jpg');
    height: 800px;  
    background-position-y: 100%;
    background-position-x: 85%;
}

.card{
    height: 250px;
    width: 200px;
    font-size:10px;
    margin: 50px 30px 0 50px;
    text-align: center;
    

    
}

.cardtext{
    color: black;
    text-align: left;
}

.button-c{
    background-color: black;

    
}


.text{
    text-align: center;
    margin-top: 10px;
    font-size: 20px
}






