.background2{
    background-image: url('./mario.jpg');
    height: 800px;  
    background-position-y: 90%;
    background-position-x: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}